<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/kiosko</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">r10kusho420$</property>

        <!-- Specifying Session Context -->
        <!-- <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>-->

         <!-- Mapping With Model Class Containing Annotations -->
        <mapping class="com.baufest.Libreria.models.Descuento" />
        <mapping class="com.baufest.Libreria.models.Factura" />
        <mapping class="com.baufest.Libreria.models.Cliente" />
        <mapping class="com.baufest.Libreria.models.Compra" />
        <mapping class="com.baufest.Libreria.models.Producto" />
        <mapping class="com.baufest.Libreria.models.Suscripcion" />
        <mapping class="com.baufest.Libreria.models.TipoProducto" />


    </session-factory>
</hibernate-configuration>